section.approch
    .container
        .title.title_with_bottom_line
            h2.title_header Our Approch
            .title_text Check our approches step by step ( how we do it )

        ul.approch_list
            li.approch_item
                .approch_image
                    img.approch_picture(src="../images/step-1.jpg", alt="picture")
                    .approch_step step
                .approch_text
                    .approch_title Step 1 : Heading Here
                    p.approch_desctiption.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            li.approch_item
                .approch_image
                    img.approch_picture(src="../images/step-2.jpg", alt="picture")
                    .approch_step step
                .approch_text
                    .approch_title Step 2 : Heading Here
                    p.approch_desctiption.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            li.approch_item
                .approch_image
                    img.approch_picture(src="../images/step-3.jpg", alt="picture")
                    .approch_step step
                .approch_text
                    .approch_title Step 3 : Heading Here
                    p.approch_desctiption.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            li.approch_item
                .approch_image
                    img.approch_picture(src="../images/step-4.jpg", alt="picture")
                    .approch_step step
                .approch_text
                    .approch_title Step 4 : Heading Here
                    p.approch_desctiption.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.