.contacts
    a.contact(href="#")
        i.fa.fa-mobile.contact_icon(aria-hidden="true")
        span.contact_text +380978407585

    a.contact(href="mailto:sanek199861@gmail.com")
        i.fa.fa-envelope.contact_icon.contact_icon_email(aria-hidden="true")
        span.contact_text sanek199861@gmail.com

    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")