section.form_section
    .container
        .title
            h2.title.title_header Get Your Facebook Analysis Now
            .title_text Enter your details below
        
        .btn_down: a.arrow_down: i.fa.fa-angle-down

        .form_container.is_hidden
            form(action="#", method="post").form
                button(type="button").form_close_button x 
                .form_text.
                    Sit down with our experts to receive a free customing marketing plan
                    for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
                
                .form_fields
                    input.form_input(type="text" placeholder="Your Name")
                    input.form_input(type="text" placeholder="Contact Number")
                    input.form_input(type="text" placeholder="Contact Name")

                button(type="submit").button.button_red.button_text_uppercase Submit now