nav.nav
    - var items = ['Home','About us','Our Approch','Our Work']
    - var navLinks = ['.hero','.about','.approch','.work']
    each item, key in items
        if item === 'Home'
            a.nav_link.nav_link_active(href="#" data-link=navLinks[key])=item
        else
            a.nav_link(href="#" data-link=navLinks[key])=item